button {
    padding: 0px;
    border: 0px;
    margin: 0px;
    outline: 0px;
}

#wanda {
    background-image: url(wandaCropped.jpg);
    background-size: cover;
    background-position: center;
}

#vision {
    background-image: url(Vision.jpg);
    background-size: cover;
    background-position: center;
}

#captainAmerica {
    background-image: url(captainAmericaCropped.jpg);
    background-size: cover;
    background-position: center;
}

#ironMan {
    background-image: url(TonyStankCropped.jpg);
    background-size: cover;
    background-position: center;
}

#doctorStrange {
    background-image: url(Doctor_StrangeCropped.jpg);
    background-size: cover;
    background-position: center;
}

#blackWidow {
    background-image: url(Black_widowCropped.jpg);
    background-size: cover;
    background-position: center;
}

#spiderMan {
    background-image: url(spidermanCropped.jpg);
    background-size: cover;
    background-position: center;
}

#hulk {
    background-image: url(hulkCropped.jpg);
    background-size: cover;
    background-position: center;
}

#thor {
    background-image: url(thorCropped.jpg);
    background-size: cover;
    background-position: center;
}

#hawkeye {
    background-image: url(HawkeyeCropped.jpg);
    background-size: cover;
    background-position: center;
}

#blackPanther {
    background-image: url(BlackPantherCropped.jpg);
    background-size: cover;
    background-position: center;
}

#starLord {
    background-image: url(Star-LordCropped.jpg);
    background-size: cover;
    background-position: center;
}